/* Twikoo评论框高度设置 */
.el-textarea__inner {
    min-height: 180px !important;
}
  
/* Twikoo评论框添加背景图
.el-textarea {
	background-image: url(https://cdn.jsdelivr.net/gh/asa-pic/pic_1/img/vsgif_com__.2574996.gif);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	background-color: rgba(0, 0, 255, 0);
	resize: vertical
}

Twikoo评论框背景图实现点击下移
.el-textarea:focus-within {
	background-position-y: 800px;
	transition: all 0.2s ease-in-out 0s;
}*/

/* Twikoo评论输入框设置*/
.tk-meta-input{
	margin: 0.5em 0;
	width: calc(100% - 5.5rem);
}
#twikoo .tk-row .tk-col {
    flex-direction: column-reverse;
}
.tk-row .tk-avatar {
    display: none;
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::before {
    display: block;
    animation: commonTipsIn 0.3s;
}
.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(1):before {
    content: '输入QQ号会自动获取昵称和头像';
}
.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(2):before {
    content: '收到博主回复将给您发送邮件';
}
.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(3):before {
    content: '允许博主访问您的个人网站';
}
.el-input.el-input--small.el-input-group.el-input-group--prepend::before {
    display: none;
    position: absolute;
    top: -60px;
    white-space: nowrap;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%);
    padding: 14px 18px;
    background: #444;
    color: #fff;
    z-index: 100;
}
.el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::after {
    display: block;
    animation: commonTriangleIn 0.3s;
}
.el-input.el-input--small.el-input-group.el-input-group--prepend::after {
    display: none;
    content: '';
    position: absolute;
    border: 12px solid transparent;
    border-top-color: #444;
    left: 50%;
    transform: translate(-50%, -46px);
}
@keyframes commonTipsIn {
  0% {
    top: -50px;
    opacity: 0;
  }

  100% {
    top: -60px;
    opacity: 1;
  }
}

@keyframes commonTriangleIn {
  0% {
    transform: translate(-50%, -36px);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, -46px);
    opacity: 1;
  }
}

/* Twikoo表情栏设置*/
.tk-row-actions-start {
    position: absolute;
    top: -100px;
    left: -35px;
}
#twikoo>div.tk-comments>div.tk-submit>div.tk-row.actions>a,.el-button.tk-preview {
    display: none;
}

.twikoo .el-button--primary.is-disabled, .twikoo .el-button--primary.is-disabled:active, .twikoo .el-button--primary.is-disabled:focus, .twikoo .el-button--primary.is-disabled:hover {
    color: rgba(255,255,255,0.63);
    background-color: rgba(64,158,255,0.50);
    border-color: transparent;
}
.tk-comments .el-button--primary.is-disabled, .tk-comments .el-button--primary.is-disabled:active, .tk-comments .el-button--primary.is-disabled:focus, .tk-comments .el-button--primary.is-disabled:hover {
    opacity: 0.4;
}

.el-button--primary.is-disabled, .el-button--primary.is-disabled:active, .el-button--primary.is-disabled:focus, .el-button--primary.is-disabled:hover {
    color: #FFF;
    background-color: #a0cfff;
    border-color: #a0cfff;
}

.el-button.is-disabled, .el-button.is-disabled:focus, .el-button.is-disabled:hover {
    color: #C0C4CC;
    cursor: not-allowed;
    background-image: none;
    background-color: #FFF;
    border-color: #EBEEF5;
}

.el-button+.el-button {
    margin-left: 10px;
}
.tk-comments .el-button--primary {
	background-color: var(--asa-main)!important;
    border-color: var(--asa-fontcolor) !important;
    color: var(--asa-card-bg) !important;
    border-radius: 4px !important;
    box-shadow: var(--asa-shadow-black);
    transition: 0.3s;
    width: 5rem;
    position: absolute;
    top: -55px;
    right: 0px;
    margin-left: 0.5rem !important;
    height: 32px;
}
.el-button{
	border: unset!important;
}

/*手机适配*/
@media screen and (max-width: 768px) {
	/* Twikoo表情栏设置*/
	.tk-row-actions-start {
		position: absolute;
		top: -200px;
		left: -35px;
	}
	.tk-comments .el-button--primary {
		width: 3rem;
		top: -159px;
	}
	.el-button--small {
    padding: 65px 15px!important;
	}
	#twikoo > div.tk-comments > div.tk-submit > div.tk-row.actions > button.el-button.tk-send.el-button--primary.el-button--small.is-disabled > span{
		margin-left: -0.2em;
	}
	.tk-meta-input {
		width: calc(100% - 4.1rem);
	}
}


/* Twikoo评论区字体设置*/
.tk-meta > a{
	
    color: var(--asa-main);
    font-size: x-large;

}
.tk-main{
	margin-top: -0.3em;
}
.tk-meta > small.tk-time{
    color: var(--asa-secondtext);
    font-size: initial;
    margin-left: 0.3em;
}
.tk-tag {
    font-size: 0.85em;
}

/* 设备名称常态隐藏，悬停评论时显示 */
.tk-extras {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.tk-content:hover + .tk-extras {
  -webkit-animation: tk-extras-fadeIn 0.5s linear;
  -moz-animation: tk-extras-fadeIn 0.5s linear;
  -o-animation: tk-extras-fadeIn 0.5s linear;
  -ms-animation: tk-extras-fadeIn 0.5s linear;
  animation: tk-extras-fadeIn 0.5s linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-moz-keyframes tk-extras-fadeIn {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-webkit-keyframes tk-extras-fadeIn {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-o-keyframes tk-extras-fadeIn {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@keyframes tk-extras-fadeIn {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}