/* 滚动条 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(73, 177, 245, 0.2);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: #302C30;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.4) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.4) 75%,
    transparent 75%,
    transparent
  );
  border-radius: 2em;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: #fff;
  background-color: #5C5348;
}
/*滚动条结束*/

/* 文章页H1-H6图标样式效果 —— 让风车转起来 */
h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
    -webkit-animation: ccc 2s linear infinite ;
    animation: ccc 2s linear infinite ;
}
@-webkit-keyframes ccc {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn)
    }
}
@keyframes ccc {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn)
    }
}

/* 文章页H1-H6图标样式效果 —— 颜色设置 */
#content-inner.layout h1::before {
    color: #ef50a8 ;
    margin-left: -1.55rem;
    font-size: 1.3rem;
    margin-top: -0.23rem;
}
#content-inner.layout h2::before {
    color: #fb7061 ;
    margin-left: -1.35rem;
    font-size: 1.1rem;
    margin-top: -0.12rem;
}
#content-inner.layout h3::before {
    color: #ffbf00 ;
    margin-left: -1.22rem;
    font-size: 0.95rem;
    margin-top: -0.09rem;
}
#content-inner.layout h4::before {
    color: #a9e000 ;
    margin-left: -1.05rem;
    font-size: 0.8rem;
    margin-top: -0.09rem;
}
#content-inner.layout h5::before {
    color: #57c850 ;
    margin-left: -0.9rem;
    font-size: 0.7rem;
    margin-top: 0.0rem;
}
#content-inner.layout h6::before {
    color: #5ec1e0 ;
    margin-left: -0.9rem;
    font-size: 0.66rem;
    margin-top: 0.0rem;
}

/* 文章页H1-H6图标样式效果 —— 风车hover效果 */
#content-inner.layout h1:hover, #content-inner.layout h2:hover, #content-inner.layout h3:hover, #content-inner.layout h4:hover, #content-inner.layout h5:hover, #content-inner.layout h6:hover {
    color: #49b1f5 ;
}
#content-inner.layout h1:hover::before, #content-inner.layout h2:hover::before, #content-inner.layout h3:hover::before, #content-inner.layout h4:hover::before, #content-inner.layout h5:hover::before, #content-inner.layout h6:hover::before {
    color: #49b1f5 ;
    -webkit-animation: ccc 7s linear infinite ;
    animation: ccc 7s linear infinite ;
}

/*
#web_bg {
  background: var(--card-bg); /* 慎用!important 
}
*/


/*夜间模式伪类遮罩层透明*/
[data-theme="dark"]
  #footer::before{
     background-color: rgba(9,14,21, 0.2)!important;
    }
[data-theme="dark"]
  #page-header::before{
    background-color: rgba(9,14,21, 0.4)!important;
    }

/* 所有页面背景 */
.layout_post>#post,.layout>#post,.layout>#page,#category,.layout>#archive,#aside-content>.card-widget,#aside-content>.sticky_layout>.card-widget,#aside_content.card-widget, #recent-posts>.recent-post-item, .layout_page>div:first-child:not(.recent-posts), .layout_post>#page, .layout_post>#post, .read-mode .layout_post>#post {
    /* 以下代表透明度为0.5 可以自行修改*/
    background: rgba(9,14,21,.8);
	border-style: ridge;
    border-color: rgba(255,255,255,.1);
	border-width: 1px;
}

/* 文章页顶部图、作者描述隐藏 */
#post > div.top-img.gist,#aside-content > div.card-widget.card-info > div:nth-child(1) > div.author-info__description{
	display:none;
}

/*减小目录字体大小*/
#card-toc {
	font-size: 85%;
}

/* 加粗样式美化 */
#article-container > p > strong,#article-container > ul > li > strong {
	color: #FFFFFF;
}

/* 气泡注释样式美化 */
span.bubble-content {
	color: 	#7FFFAA;
	font-weight:normal;
}

[data-theme="dark"]
  #post .post-copyright {
    background-color: rgb(7 8 10);
    //text-shadow: #bfbeb8 1px 0 4px;
  }
[data-theme="dark"]
  #post .post-copyright {
    border: 1px solid rgb(19 18 18 / 35%);
  }
[data-theme="dark"]
  .post-copyright-info {
    color: #e0e0e4;
  }
#post .post-copyright__title{
    font-size:22px;
}
#post .post-copyright__notice{
    font-size:15px;
}

/* 标签页字体加粗 */
#page > div.tag-cloud-list.is-center > a {
	font-weight:bold;
}

/* 音乐播放按钮隐藏 */
#music, #sentence {
	visibility:hidden;
}

/* 首页分类磁贴样式 */
#categoryBar > ul > li:nth-child(1){
	background-image: linear-gradient(to right, #35485A, #3B959B);
}
#categoryBar > ul > li:nth-child(2){
	background-image: linear-gradient(to right, #9249B5, #C078C0);
}
#categoryBar > ul > li:nth-child(3){
	background-image: linear-gradient(to right, #563783, #3573A9);
}
#categoryBar > ul > li:nth-child(4){
	background-image: linear-gradient(to right, #1C7A72, #35B566);
}
#categoryBar > ul > li:nth-child(5){
	background-image: linear-gradient(to right, #912460, #BC4898);
}
#categoryBar > ul > li:nth-child(6){
	background-image: linear-gradient(to right, #B72C1B, #BA8820);
}
#categoryBar > ul > li:nth-child(7){
	background-image: linear-gradient(to right, #483D8B, #9370DB);
}
#categoryBar > ul > li:nth-child(8){
	background-image: linear-gradient(to right, #008000, #90EE90);
}

/* 移动端优化 */
@media screen and (max-width: 800px) {
    #recent-posts > div:nth-child(1),#aside-content > div.card-widget.card-info,#aside-content > div.card-widget.card-announcement,#aside-content > div.sticky_layout > div.card-widget.card-tags {
        display: none;
	}
	#web_bg {
		background: url(https://bu.dusays.com/2022/09/01/630f88ad8aec8.jpg) !important;
    }
}

/* 弹出框样式统一 */
/* 颜色设置 */
[data-theme=light] {
  --sianx_popup: #1f1f1f;/* 白天 */
}
[data-theme=dark] {
  --sianx_popup: rgba(31,31,31,.9);/* 夜间 */
}
.snackbar-pos {
border-radius: 7px !important;/* 弹窗圆角 */
}
.snackbar-container {
  background: var(--sianx_popup) !important;/* 弹窗颜色 */
}

#fotid {	
	line-height: 40%;
}
