@font-face {
  font-family: "iconfont"; /* Project id 3166430 */
  src: url('iconfont.woff2?t=1672630793504') format('woff2'),
       url('iconfont.woff?t=1672630793504') format('woff'),
       url('iconfont.ttf?t=1672630793504') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-touxiang:before {
  content: "\e679";
}

.icon-wenzhang-copy:before {
  content: "\e643";
}

.icon-word:before {
  content: "\e65b";
}

.icon-shejishuju:before {
  content: "\e603";
}

.icon-fangwenliang:before {
  content: "\e8b0";
}

.icon-github:before {
  content: "\e6b7";
}

.icon-youjian:before {
  content: "\e60c";
}

.icon-qianming:before {
  content: "\e6a0";
}

.icon-qianming1:before {
  content: "\e661";
}

.icon-shouye:before {
  content: "\e640";
}

.icon-sousuo:before {
  content: "\e678";
}

.icon-jiantouxia:before {
  content: "\e62d";
}

.icon-sucai:before {
  content: "\e601";
}

.icon-24gf-tags2:before {
  content: "\e887";
}

.icon-qita:before {
  content: "\e662";
}

.icon-16:before {
  content: "\e61e";
}

.icon-computeChart-fill:before {
  content: "\e69f";
}

.icon-dushu:before {
  content: "\e6aa";
}

.icon-rcd-angle-right-circle-f:before {
  content: "\e614";
}

.icon-shujijiaocai:before {
  content: "\e616";
}

.icon-yewan:before {
  content: "\e64f";
}

.icon-yuzhouxingqiu-03:before {
  content: "\e604";
}

.icon-gengxin:before {
  content: "\e669";
}

.icon-41shuoshuo:before {
  content: "\e658";
}

.icon-liuyanxiaoxi:before {
  content: "\e64e";
}

.icon-tuku1:before {
  content: "\e60b";
}

.icon-liuyan:before {
  content: "\e62c";
}

.icon-tuku:before {
  content: "\e63e";
}

.icon-wanjufengche:before {
  content: "\e602";
}

.icon-lianjie:before {
  content: "\e613";
}

.icon-liebiao:before {
  content: "\e600";
}

.icon-liaotian:before {
  content: "\e612";
}

.icon-leibie:before {
  content: "\e668";
}

.icon-shijianzhou:before {
  content: "\e61b";
}

.icon-timeAxis:before {
  content: "\e645";
}

